.NoteList__main {
    width: 80%;
    border: 2px solid var(--links);
    border-radius: 10px;
    margin: 0 auto;
    padding: 25px;
    height: 400px;
    overflow: scroll;
}

.NoteList__note {
    text-align: left;
    border-bottom: 1px solid var(--border-md-green);
}